<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teams</title>
</head>
<body>
    <h1>All Teams</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column in teams.0.keys %}
                    <th>{{ column }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    {% for value in team.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                        <a href="/teams/{{ team.TeamID }}/">View Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
<br>
<button><a href="/">Exit</a></button>