<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <title>League Database</title>
</head>
<body>
    <h1 style="margin: 20px; text-align: center;">Welcome to the League Database</h1><hr>
    <p style = "margin-left: 30px;">Navigate to the following pages:</p>
    <ul>
        <p><button><a href="/teams/">View All Teams</a></button></p>
        <p><button><a href="/guardians/">View All Guardians</a></button></p>
        <p><button><a href="/team-player-count/">Player Count by Team</a></button></p>
        <p><button><a href="/team-goals/">Total Goals by Team</a></button></p>
        <p><button><a href="/players/team/">Search Players by Team</a></button></p>
    </ul>
</body>
</html>

