{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">League Team Standings</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_rankings %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/teams/{{ team.TeamID }}/">{{ team.SchoolName }}</a></td>
                    <td>{{ team.Wins }}</td>
                    <td>{{ team.Losses }}</td>
                    <td>{{ team.WinPercentage|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


