{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Player Stats for Match {{ match_id }}</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                {% for column in stats.0.keys %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr>
                    {% for value in stat.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

